@model IEnumerable<Gruppe3.Models.IndexInfo>

@{
    ViewData["Title"] = "Pollenvarsel";
}

<h1>Pollenvarsel for de 5 siste dagene</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Kode</th>
            <th>Navn</th>
            <th>Nivå</th>
            <th>Kategori</th>
            <th>Index beskrivelse</th>
            <th>Fargekode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Take(5))
        {
            <tr>
                <td>
                    @item.Date.ToString("yyyy-MM-dd")
                </td>
                <td>@item.Code</td>
                <td>@item.DisplayName</td>
                <td>@item.Value</td>
                <td>@item.Category</td>
                <td>@item.IndexDescription</td>
                <td style="background-color: @(item.ColorInfo != null ? $"rgb({item.ColorInfo.Red}, {item.ColorInfo.Green}, {item.ColorInfo.Blue})" : "white");"></td>
            </tr>
        }
    </tbody>
</table>
